.logo-block,
.nav-items,
ul,
li {
  color: var(--light-blue);
  background-color: var(--primary);
}

.logo-block {
  padding: 0.5rem 1rem;
}

.nav-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
}

ul > li {
  cursor: pointer;
}

a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
}
