.res-details-section,
.res-offers,
.res-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
}

.res-offers,
.res-menu {
  width: 60%;
  justify-content: flex-start;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #c4c4c4;
}

.res-details {
  width: 60%;
  margin-top: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c4c4c4;
}

.res-details > .res-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  width: 100%;
}

.res-details > p {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
}

.res-ratings {
  float: inline-end;
  color: #3a8e2f;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.res-ratings > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #3a8e2f;
  padding-bottom: 0.2rem;
}

.res-ratings > p {
  font-weight: 600;
  font-size: 12px;
  color: var(--primary);
  padding-top: 0.5rem;
  border-top: 1px solid #c4c4c4;
}

.cost-for-two {
  width: 60%;
  font-size: 16px;
  font-weight: 700;
  margin: 1rem auto;
}

.res-menu {
  margin: 0;
}
