.res-menu {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: none;
}

.dish-name {
  width: 100%;
  font-weight: 600;
}

.price {
  width: 100%;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.price > p::before {
  content: "\20B9";
  /* margin-right: 2px; */
}

.description {
  width: 70%;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
}

.dish-name > span > img {
  float: inline-end;
  object-fit: cover;
  border-radius: 10px;
  width: 118px;
  height: 96px;
}

.best-seller {
  display: flex;
  align-items: center;
}

.best-seller > img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.best-seller > span {
  font-size: 12px;
  color: #ee9c00;
}

.dish-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
