.main-body {
  margin: 1rem;
}

.search-block {
  display: flex;
  width: 20dvw;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.restaurant-cards {
  display: flex;
}
